.table,.table-inverse{
    border: 1px solid black;
}
.td{
    border: 1px solid black;
    width: 20px;
    height: 20px;
}
.td-change{
    background-color: black;
}

/*противоположные цвета*/
.table-inverse .td{
    background-color: black;
}

.table-inverse .td-change{
    background: white;
}

